<div class="qbootstrap-hero" data-section="home">
	<div class="qbootstrap-overlay"></div>
	<div class="qbootstrap-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(<%= asset_path('main_background_img1.jpg')%>);">
		<div class="display-t">
			<div class="display-tc">
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<div class="animate-box svg-sm colored">
							<%= image_tag "flaticon/svg/004-nature.svg", class: "svg" %>
							<h1 class="holder"><span>The Wedding of</span></h1>
							<h2>Gagan &amp; Amruta</h2>
							<p>07.05.2018</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-couple" class="qbootstrap-section-gray">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 animate-box">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<%= image_tag "flaticon/svg/005-two.svg", class: "svg" %>
					<h2>We Are Getting Married</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusamus, sequi, minima repellendus explicabo magni aperiam, ducimus perferendis ad quidem suscipit omnis unde veritatis pariatur. Commodi, nisi. Iusto, accusantium a.</p>
					<p><strong>on May 07, 2018 &mdash; Chopda, Maharastra</strong></p>
				</div>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
					<%= image_tag "groom.jpg", class: "img-responsive", alt: "Gagan Gami" %>
					<h3>Gagan B. Gami</h3>
					<span>Groom</span>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2 nopadding">
					<h2 class="amp-center">
						<%= image_tag "flaticon/svg/003-luxury.svg", class: "svg img-responsive"%>
					</h2>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
					<%= image_tag "amu_single.jpg", class: "img-responsive", alt: "Amruta Gujarathi" %>
					<h3>Amruta V. Gujarathi</h3>
					<span>Bride</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-countdown" data-stellar-background-ratio="0.5" style="background-image: url(<%= asset_path('hast_melap1.jpg')%>);" data-section="wedding-day">
	<div class="overlay"></div>
	<div class="display-over">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-12 section-heading text-center svg-sm colored">
					<%= image_tag "flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg", class: "svg"%>
					<h2 class="">The Wedding Day</h2>
					<span class="datewed">Monday, May 07, 2018</span>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p class="countdown">
						<span id="days"></span>
						<span id="hours"></span>
						<span id="minutes"></span>
						<span id="seconds"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-groom-bride" data-section="groom-bride">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm-2 colored">
					<%= image_tag "flaticon/svg/002-wedding-couple.svg", class: "svg"%>
					<h2>Groom &amp; Bride</h2>
					<p>Neither man nor woman is perfect or complete without the other. Thus, no marriage or family, no ward or stake is likely to reach its full potential until husbands and wives, mothers and fathers, men and women work together in unity of purpose, respecting and relying upon each other's strengths.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="couple groom text-center animate-box">
					<%= image_tag "groom.jpg", class: "img-responsive" %>
					<div class="desc">
						<h2>Gagan B. Gami</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="couple bride text-center animate-box">
					<%= image_tag "bride.jpg", class: "img-responsive" %>
					<div class="desc">
						<h2>Amruta Gujarathi</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero totam eum, necessitatibus reprehenderit nisi, ratione neque aspernatur sapiente minus? Omnis neque labore distinctio aspernatur esse impedit laboriosam, veritatis dolorem!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-story" data-section="story">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm-2">
					<%= image_tag "flaticon/svg/003-luxury.svg", class: "svg" %>
					<h2>Our Love Story</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="timeline animate-box">
					<li class="animate-box">
						<div class="timeline-badge" style="background-image:url(<%= asset_path('couple-1.jpg')%>);"></div>
						<div class="timeline-panel">
							<div class="overlay"></div>
							<div class="timeline-heading">
								<h3 class="timeline-title">First We Meet</h3>
								<span class="date">November 27, 2017</span>
							</div>
							<div class="timeline-body">
								<p>We met first time at my(Gagan's) home and it was soo impressive meeting. We had lots of talks and shared eachother's likes and dislikes. We found many common choices, thoughts, dreams and expectations. We decided to look further for next step.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge" style="background-image:url(<%= asset_path('couple-2.jpg')%>);"></div>
						<div class="timeline-panel">
							<div class="overlay overlay-2"></div>
							<div class="timeline-heading">
								<h3 class="timeline-title">First Date</h3>
								<span class="date">Dec 30, 2017</span>
							</div>
							<div class="timeline-body">
								<p>After our first meeting and phone talks, we decided to spend time with eachother and celebrate New Year together. This new year celebration was turning point of our life, we found a very perfect match and fall in love.</p>
							</div>
						</div>
					</li>
					<li class="animate-box">
						<div class="timeline-badge" style="background-image:url(<%= asset_path('couple-3.jpg')%>);"></div>
						<div class="timeline-panel">
							<div class="overlay"></div>
							<div class="timeline-heading">
								<h3 class="timeline-title">In A Relationship</h3>
								<span class="date">June 14, 2017</span>
							</div>
							<div class="timeline-body">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted animate-box">
						<div class="timeline-badge" style="background-image:url(<%= asset_path('couple-4.jpg')%>);"></div>
						<div class="timeline-panel">
							<div class="overlay overlay-2"></div>
							<div class="timeline-heading">
								<h3 class="timeline-title">We're Engaged</h3>
								<span class="date">Sept. 01, 2017</span>
							</div>
							<div class="timeline-body">
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
							</div>
						</div>
					</li>
		    	</ul>
			</div>
		</div>
	</div>
</div>


<div id="qbootstrap-testimonials" class="qbootstrap-greetings" data-section="greetings" data-stellar-background-ratio="0.5" style="background-image: url(<%= asset_path('cover_bg_1.jpg')%>);">
<div class="overlay"></div>	
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-12 section-heading text-center svg-sm colored">
				<%= image_tag "flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg", class: "svg" %>
				<h2 class="">Sweet Messages</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 animate-box">
				<div class="box-testimony ">
					<blockquote>
						<span class="quote"><span><i class="icon-quotes-left"></i></span></span>
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
					</blockquote>
					<p class="author">John Doe</p>
				</div>
				
			</div>
			<div class="col-md-4 animate-box">
				<div class="box-testimony ">
					<blockquote>
						<span class="quote"><span><i class="icon-quotes-left"></i></span></span>
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
					</blockquote>
					<p class="author">John Doe</p>
				</div>
				
				
			</div>
			<div class="col-md-4 animate-box">
				<div class="box-testimony ">
					<blockquote>
						<span class="quote"><span><i class="icon-quotes-left"></i></span></span>
						<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
					</blockquote>
					<p class="author">John Doe</p>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div id="qbootstrap-when-where" data-section="when-where">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<%= image_tag "flaticon/svg/005-two.svg", class: "svg" %>
					<h2>Engagement &amp; Ceremony</h2>
					<div class="row">
					<div class="col-md-10 col-md-offset-1 subtext">
						<h3>It’s not your perfectness that I fell in love with. It was your flaws that brought me in. You make me happier than I ever thought I could be and if you let me I will spend the rest of my life trying to make you feel the same way.</h3>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="row row-bottom-padded-md">
			<div class="col-md-6 text-center animate-box">
				<div class="wedding-events">
					<div class="ceremony-bg" style="background-image: url(<%= asset_path('wed-ceremony.jpg')%>);"></div>
					<div class="desc">
						<h3>Wedding Ceremony</h3>
						<div class="row">
							<div class="col-md-2 col-md-push-5">
								<div class="icon-tip">
									<span class="icon"><i class="icon-heart-o"></i></span>
								</div>
							</div>
							<div class="col-md-5 col-md-pull-1">
								<div class="date">
									<i class="icon-calendar"></i>
									<span>Saturday</span>
									<span>02 Dec. 2017</span>
								</div>
							</div>
							<div class="col-md-5 col-md-pull-1">
								<div class="date">
									<i class="icon-clock2"></i>
									<span>10:00 AM</span>
									<span>11:00 AM</span>
								</div>
							</div>
						</div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center animate-box">
				<div class="wedding-events">
					<div class="ceremony-bg" style="background-image: url(<%= asset_path('wed-party.jpg')%>);"></div>
					<div class="desc">
						<h3>Wedding Party</h3>
						<div class="row">
							<div class="col-md-2 col-md-push-5">
								<div class="icon-tip">
									<span class="icon"><i class="icon-heart-o"></i></span>
								</div>
							</div>
							<div class="col-md-5 col-md-pull-1">
								<div class="date">
									<i class="icon-calendar"></i>
									<span>Saturday</span>
									<span>02 Dec. 2017</span>
								</div>
							</div>
							<div class="col-md-5 col-md-pull-1">
								<div class="date">
									<i class="icon-clock2"></i>
									<span>10:00 AM</span>
									<span>11:00 AM</span>
								</div>
							</div>
						</div>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
						<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="map" class="qbootstrap-map"></div>
			</div>
		</div>
	</div>
	</div>
</div>



<div id="qbootstrap-gallery" data-section="gallery">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<div class="col-md-12 text-center section-heading svg-sm colored">
					<%= image_tag "flaticon/svg/005-two.svg", class: "svg" %>
					<h2>Our Beautiful Memories</h2>
					<div class="row">
					<div class="col-md-10 col-md-offset-1 subtext">
						<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="gallery animate-box">
					<a class="gallery-img image-popup image-popup" href="<%= asset_path('gallery-1.jpg')%>">
						<%= image_tag "gallery-1.jpg", class: "img-responsive" %>
					</a>
				</div>
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-10.jpg')%>">
						<%= image_tag "gallery-10.jpg", class: "img-responsive" %>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-6.jpg')%>">
						<%= image_tag "gallery-6.jpg", class: "img-responsive" %>
					</a>
				</div>
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-2.jpg')%>">
						<%= image_tag "gallery-2.jpg", class: "img-responsive" %>
					</a>
				</div>
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-5.jpg')%>">
						<%= image_tag "gallery-5.jpg", class: "img-responsive" %>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-7.jpg')%>">
						<%= image_tag "gallery-7.jpg", class: "img-responsive" %>
					</a>
				</div>
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-3.jpg')%>">
						<%= image_tag "gallery-3.jpg", class: "img-responsive" %>
					</a>
				</div>
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-4.jpg')%>">
						<%= image_tag "gallery-4.jpg", class: "img-responsive" %>
					</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-8.jpg')%>">
						<%= image_tag "gallery-8.jpg", class: "img-responsive" %>
					</a>
				</div>
				<div class="gallery animate-box">
					<a class="gallery-img image-popup" href="<%= asset_path('gallery-9.jpg')%>">
						<%= image_tag "gallery-9.jpg", class: "img-responsive" %>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>